

pre{
  background-color: beige;
}

.background{
 background-color: #FFFFFF;
}

#bodyid.navbarButton{
  color: red;
}
.ui.fluid.card {
    width: 100%;
    max-width: 9999px;
    padding: 10px;
    border-radius: 0%;
}

.ui.cards {
    width: 100%;
    max-width: 9999px;
    border-radius: 0%;
}

.ui.table {
    font-size: 1em;
    border-radius: 0;
}

.ui.cards>.card {
    font-size: 1em;
    border-radius: 0;
}
.ui.grid {
    margin-top: 3rem;
    margin-bottom: -1rem;
    margin-left: -3rem;
    margin-right: -3rem;
}

.ui.fluid.cards {
    width: 100%;
    max-width: 9999px;
    padding: 10px;
}

